body{
            background-color: rgb(255, 255, 255);
            color: rgb(54, 180, 37);
        }
        h1{
            color: rgb(0, 0, 0);
        }
        #html{
            color: rgb(129, 70, 22);
        }
        #css{
            color: rgb(104, 12, 12);
        }
        #JavaScript{
            color: rgb(47, 33, 70);
        }

        #curtias{
          background-color: darkgrey;
          color: darkgrey;




        }